{% extends "blog/base.html" %}
{% block content %}

<div class="card">
      <div class="card-body">
        <h5 class="card-title">About Us</h5>
        <p class="card-text">You can buy attention (advertising). You can beg for attention from the media (PR). You can bug people one at a time to get attention (sales). Or you can earn attention by creating something interesting and valuable and then publishing it online for free.</h3>
                </p>
        <a href="#" class="btn btn-primary">Learn More</a>
      </div>
    </div>
{% endblock content %}